{% extends 'base.html' %}
{% block title %}Sequence Analysis{% endblock %}

{% block body %}
<div class="container-md">
    <div class="row">
        <div class="col-2 h5">Uniprot Code:</div>
        <div class="col-2 mb-5">{{ seqanalysis.uniprot }}</div>
    </div>
    <div class="row">
        <div class="col-2 h5">Molecular Weight:</div>
        <div class="col-2 mb-5">{{ "%.4f"|format(seqanalysis.mol_weight) }} (g/mol)</div>
    </div>
    <div class="row">
        <div class="col-2 h5">Sequence:</div>
        <div class="col-8 text-wrap break-all">{{ seqanalysis.sequence }}</div>
    </div>
</div>
{% endblock %}